# Database
# Use your own values for Supabase or local PostgreSQL instance
DATABASE_URL="postgresql://user:password@host:port/database?pgbouncer=true"
DIRECT_URL="postgresql://user:password@host:port/database"

# NestJS API Config
PORT=3000
NODE_ENV=development

# Authentication
JWT_SECRET="your-super-secret-jwt-key"
JWT_REFRESH_SECRET="your-super-secret-jwt-refresh-key"

# Frontend Integration
FRONTEND_URL="http://localhost:3001"
